@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Light-gray);
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.scene {
  background-color: var(--white);
  max-width: 20rem;
  padding: 20px;
  border-radius: 20px;
  margin: 50px auto;
}
img {
  max-width:100%;
  border-radius: 20px;
  transition: transform 0.1s;
}
img:hover{
  transform:scale(1.06)
}

.card {
  font-family: "outfit", sans-serif;
  margin-top: 20px;
  text-align: center;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
p {
  font-size: 15px;
  font-weight: 400;
  margin: 20px;
  color: var(--Grayish-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
a:hover {
  color: blueviolet;
}
a:active{
  color: chartreuse;
}



